.section-1{
  width: 100%;

  &__container{
    height: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &__title{
    color: #333;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%) translateX(-40%);
    line-height: 5rem;
  }

}