.section-3{
  width: 100%;
  z-index: 10;

  &__container{
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #f2f2f2;
    z-index: 15;
    background-image: url(../image/workbg.png);
    background-repeat: no-repeat;
    background-size: cover;

  }

  &__title{
    top: 10rem;

    &::before{
      content: 'WORKS';
      color: #fff;
      font-size: 5rem;
      height: 60px;
      margin: 0 auto;
      margin-left: -8.7rem;
      top: -1rem;
      position: absolute;
      z-index: -10;
      letter-spacing: 1rem;
      line-height: 1rem;
    }
  }

  &__work-button{
    top: 30rem;
    font-size: 2rem;
    padding: 0.5em 3.5em;
    border: solid 2px #707070;
    border-radius: 5px;
    transition: all 0.5s;

    &:hover{
      border: solid 2px #54c4bc;
      color: #54c4bc;
      padding: 0.5em 4em;
    }
  }
}