.section-4{
  width: 100%;

  &__container{
    height: 850px;
    margin: 0 auto;
    text-align: center;
  }

  &__title{
    margin-top: 15rem;

    &::before{
      content: 'NEWS';
      color: #EAF4FC;
      font-size: 5rem;
      height: 60px;
      margin: 0 auto;
      margin-left: -3.2rem;
      top: -3.2rem;
      position: absolute;
      z-index: -10;
      letter-spacing: 1rem;
    }
  }

  &__notice-button{
    top: 21rem;
    font-size: 2rem;
    padding: 0.5em 3.5em;
    border: solid 2px #707070;
    border-radius: 5px;
    transition: all 0.5s;

    &:hover{
      border: solid 2px #54c4bc;
      color: #54c4bc;
      padding: 0.5em 4em;
    }
  }
}