.section-5{
  
  &__container{
    height: 700px;
  }

  &__title{
    top: 10rem;

    &::before{
      content: 'MEMBERS';
      color: #EAF4FC;
      font-size: 5rem;
      height: 60px;
      margin: 0 auto;
      margin-left: -11rem;
      top: -3rem;
      position: absolute;
      z-index: -10;
      letter-spacing: 1rem;
    }
  }
}