.section-5{
  
  &__container{
    height: 700px;
  }

  &__title{
    top: 3em;

    &::before{
      content: 'MEMBERS';
      color: #f4f5f7;
      font-size: 3rem;
      height: 60px;
      margin: 0 auto;
      margin-left: -8rem;
      top: -2rem;
      position: absolute;
      z-index: -10;
      letter-spacing: 1rem;
    }
  }
}